.node__content > .paragraph {
  max-width: $global-width;
  margin: 0 auto;
}

/// Main Content Area
/// =================
.field--name-field-p-components {
  .paragraph--type--single-text-area {
    font-size: $large-font-size;
    color: $font-gray;
    padding: $medium-margin;
    text-align: center;
    line-height: rem-calc(32);
    @include breakpoint(medium-large) {
      padding: $medium-margin $xtra-large-margin;
    }
  }
}

.paragraph--type--layout-component-group {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: -200%;
    width: 500%;
    height: calc(100% + 40px);
    background: $tan;
    z-index: z(behind);
  }
  &:after {
    content: '';
    position: absolute;
    top: -40px;
    left: -100%;
    width: 300%;
    height: calc(100% + 40px);
    background: url(../images/map-texture.png);
    z-index: z(behind);
    opacity: 0.15;
  }
}

.paragraph--type--layout-advanced-ctas {
  .field--name-field-p-columns {
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    justify-content: space-evenly;
    position: relative;
    z-index: z(front);
    > .field__item {
      padding: $medium-large-margin $medium-margin;
      font-size: $medium-font-size;
      @include breakpoint(medium) {
        width: 50%;
      }
      @include breakpoint(medium-large) {
        padding: $medium-large-margin $large-margin;
      }
      &:first-child {
        background-color: $green;
        color: $white;
        p {
          margin-bottom: rem-calc(22);
          &:last-child {
            font-size: $main-font-size;
            margin-bottom: 0;
          }
        }
      }
      &:last-child {
        background-color: $white;
        min-width: 100vw;
        @include breakpoint(medium) {
          min-width: auto;
        }
      }
    }
    .field--name-field-heading {
      font-family: $font-arvo;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: $xtra-small-margin;
    }
  }
}

.paragraph--type--simple-testimonial {
  background-color: $dark-orange;
  padding: $medium-large-margin $medium-margin;
  text-align: center;
  color: $white;
  position: relative;
  z-index: z(middle);
  @include breakpoint(medium) {
    padding: $medium-large-margin $xtra-large-margin;
  }
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: -200%;
    width: 500%;
    height: calc(100% + 40px);
    background-color: $dark-orange;
    z-index: z(behind);
  }
  &:after {
    content: '';
    position: absolute;
    top: 43%;
    left: 50%;
    width: 80%;
    height: 150%;
    background: url(../images/svg/MountainBadge.svg);
    z-index: 0;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
  }
  .field--name-field-quote {
    position: relative;
    font-size: $large-font-size;
    font-family: $font-special-elite;
    padding: 0 $small-margin $xtra-small-margin;
    z-index: z(front);
  }
  .field--name-field-credit {
    position: relative;
    font-size: $main-font-size;
    font-family: $font-cabin;
    z-index: z(front);
  }
}