.node--type-landing-page > .node__content > .paragraph {
  max-width: $global-width;
  margin: 0 auto;
}

/// Main Content Area
/// =================
.field--name-field-p-components {
  .paragraph--type--single-text-area {
    font-size: $large-font-size;
    color: $font-gray;
    padding: $medium-margin;
    text-align: center;
    line-height: rem-calc(32);
    @include breakpoint(medium-large) {
      padding: $medium-margin $xtra-large-margin;
    }
  }
}
