////
/// Paragraphs - Compound
////

/// Header Banner Area
/// ==================

.node--type-landing-page > .node__content > .paragraph.paragraph--type--compound-banner {
  max-width: none;
}

.paragraph--type--compound-banner {
  background: $light-orange;

  .content-wrap {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: auto;
    justify-content: space-between;
    color: $white;
    padding: rem-calc(40 60);
    position: relative;
    overflow: hidden;
    min-height: 530px;
    max-width: $global-width;
    margin: 0 auto;
    z-index: z(banner, default);
    background-color: $burnt-orange;
  }

  .video-container {
    position: absolute;
    opacity: 0;
    z-index: z(banner, video);
    transition: 1s opacity ease-out;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      background-color: rgba(#ff9000, 0.5);
      z-index: 1;
    }

    &.loaded {
      opacity: 1;
    }

    iframe {
      filter: grayscale(1);
    }
  }

  .location-wrapper {
    font-family: $font-arvo;
    text-align: right;
    text-transform: uppercase;
    line-height: rem-calc(28);
    .field--name-field-event-date {
      font-size: $medium-font-size;
    }
    .field-name-field-event-location {
      font-size: $main-font-size;
    }
  }

  .block-mailchimp-signup {
    h2 {
      font-size: $medium-font-size;
      font-family: $font-arvo;
      font-weight: bold;
      text-transform: uppercase;
    }
    label {
      @extend .visually-hidden;
    }

    form {
      position: relative;
    }
    
    .form-item {
      margin: 0;
    }
    
    [type="email"] {
      transition: 0.2s background-color;
      &:focus {
        background: rgba(#fff, 0.2);
        border: 2px solid #fff;
        box-shadow: none;
        outline: 0 none;
      }
    }

    [data-drupal-selector="edit-actions"] {
      margin: 0;
      position: absolute;
      top: 0;
      left: 100%;
    }

    [type="submit"] {
      // TODO: apply button styles.
    }
  }
}
