////
/// Paragraphs - Compound
////

/// Header Banner Area
/// ==================

.node--type-landing-page > .node__content > .paragraph.paragraph--type--compound-banner {
  max-width: none;
}

.paragraph--type--compound-banner {
  background: $light-orange;

  .content-wrap {
    color: $white;
    padding: rem-calc(40 60);
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: z(banner, default);
    background-color: $burnt-orange;
    @include content-width(header);

    @include breakpoint(medium-large) {
      min-height: 530px;
    }
  }

  .banner-header {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: auto;
    justify-content: space-between;
    margin-bottom: rem-calc(20px);
  }

  .site-logo {
    max-width: 55%;
    margin: 0 auto;
    display: block;
    
    @include breakpoint(medium-large) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: rem-calc(350px);
    }
  }

  .video-container {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: z(banner, video);
    transition: 1s opacity ease-out;

    @include breakpoint(medium) {
      display: block;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      background: url(../images/halftone.png) rgba(#ff9000, 0.5);
      z-index: 1;
    }

    &.loaded {
      opacity: 1;
    }

    iframe {
      filter: grayscale(1);
    }
  }

  .location-wrapper {
    font-family: $font-arvo;
    text-align: right;
    text-transform: uppercase;
    line-height: 1.6;
    max-width: 45%;

    @include breakpoint(medium) {
      line-height: rem-calc(28);
    }

    .field--name-field-event-date {
      font-size: $main-font-size;

      @include breakpoint(medium) {
        font-size: $medium-font-size;
      }
    }
    .field--name-field-event-location {
      font-size: $small-font-size;

      @include breakpoint(medium) {
        font-size: $main-font-size;
      }

      a {
        color: #fff;
        position: relative;
        display: inline-block;
        text-decoration: underline;

        @include breakpoint(medium) {
          text-decoration: none;
        }

        &:after {
          display: none;
          content: '';
          position: absolute;
          bottom: 4px;
          left: 0;
          width: 100%;
          height: 2px;
          background: rgba(#fff, 0.6);
          transition: 0.2s background;

          @include breakpoint(medium) {
            display: block;
          }
        }

        @include selectors(active) {
          &:after {
            background: rgba(#fff, 1);
          }
        }
      }
    }
  }

  .field--name-field-mailchimp-form {
    max-width: 50%;
  }

  .block-mailchimp-signup {
    h2 {
      font-family: $font-arvo;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: .2rem;
      font-size: $small-font-size;
      @include breakpoint(medium) {
        font-size: $medium-font-size;
      }
    }
    label {
      @extend .visually-hidden;
    }

    form {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
    }
    
    .form-item {
      margin: 0;
    }
    
    [type="email"] {
      color: $white;
      border: 2px solid $white;
      transition: 0.5s ease box-shadow , 0.25s ease border-color, .3s ease background;
      margin-bottom: 0.675rem;
      &:active,
      &:focus {
        color: $font-gray;
        background: $white;
        border: 2px solid $white;
      }
    }

    [data-drupal-selector="edit-actions"] {
      margin: 0;
    }

    [type="submit"] {
      @include btn(ghost);
      text-transform: uppercase;
      font-weight: bold;
      transition: .3s ease background, .3s ease color, .3s ease transform;
      &:active {
        transform: scale(.9)
      }
    }
  }
}
