/// Layout - Component group
/// ======================
.paragraph--type--layout-component-group {
  position: relative;
  z-index: 10;
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: -200%;
    width: 500%;
    height: calc(100% + 40px);
    background: $tan;
    z-index: z(behind);
  }
  &:after {
    content: '';
    position: absolute;
    top: -40px;
    left: -100%;
    width: 300%;
    height: calc(100% + 40px);
    background: url(../images/map-texture.png);
    z-index: z(behind);
    opacity: 0.15;
  }
}

/// Layout - Advanced ctas
/// ======================
.paragraph--type--layout-advanced-ctas {
  .field--name-field-p-columns {
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    justify-content: space-evenly;
    position: relative;
    z-index: z(front);
    > .field__item {
      padding: $medium-large-margin $medium-margin;
      font-size: $medium-font-size;
      @include breakpoint(medium) {
        width: 50%;
      }
      @include breakpoint(medium-large) {
        padding: $medium-large-margin $large-margin;
      }
      &:first-child {
        background-color: $green;
        color: $white;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 100%;
          background: url(../images/svg/arrows.svg);
          width: 100px;
          height: 100px;
          background-repeat: no-repeat;
          background-size: contain;
          transform: translate(-50%, -50%);
          filter: opacity(0.2);
          z-index: z(middle);
          @include breakpoint(medium) {
            top: 35%;
            left: 100%;
          }
          @include breakpoint(large) {
            width: 115px;
            height: 115px;
          }
        }
        p {
          margin-bottom: rem-calc(22);
          z-index: z(front);
          &:last-child {
            font-size: $main-font-size;
            margin-bottom: 0;
          }
        }
      }
      &:last-child {
        background-color: $white;
        color: $font-gray;
        min-width: 100vw;
        @include breakpoint(medium) {
          min-width: auto;
        }
      }
    }
    .field--name-field-heading {
      font-family: $font-arvo;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: $xtra-small-margin;
    }
    .mailchimp-newsletter-mergefields {
      margin-bottom: $small-margin;
    }
    .block-mailchimp-signup h2,
    legend {
      font-family: $font-arvo;
      font-size: $medium-font-size;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: $xtra-small-margin;
    }
    label {
      line-height: 1.6;
      display: inline-block;
      position: relative;
    }
    .form-required {
      &:after {
        content: '*';
        color: $dark-orange;
        background: none;
        font-size: 1.075rem;
        position: absolute;
        top: -0.275rem;
        right: -.875rem;
      }
    }
    input {
      margin-bottom: 0;
    }
    .form-type-email,
    .form-type-textfield {
      margin: .3rem 0;
    }
  }
  .fieldgroup {
    legend {
      margin-bottom: .575rem;
    }
  }
  .form-type-checkbox {
    font-size: 1rem;
    margin: .2rem 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .form-type-checkbox {
    .form-checkbox {
      position: absolute;
      opacity: 0;
      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        margin-left: 3px;
        &:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
          width: 13px;
          height: 13px;
          background: $white;
          box-shadow: 0 0 0 3px $gray;
          transition: 0.3s ease background;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 6px;
          left: 0;
          width: 13px;
          height: 13px;
          transform: scale(.1);
          transition: 0.4s ease transform, .25s ease background;
        }
      }
      &:hover + label:before,
      &:focus + label:before,
      &:checked + label:before {
        //background: $gray;
      }
      &:hover + label:after,
      &:focus + label:after,
      &:checked + label:after {
        transform: scale(1);
        background: $gray;
      }
      &:checked + label:after {
        left: 0;
        top: 6px;
        background: url(../images/check-symbol.png) $gray;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  .button {
    @include btn(gray);
    font-weight: bold;
    text-transform: uppercase;
    font-size: $main-font-size;
    transition: .3s ease background, .3s ease color, .3s ease transform;
    &:active {
      transform: scale(.9)
    }
  }
}
