// All styles added by themekit

// Add foundation first so foundation utilities can be used everywhere
@import "foundation";

// Add your own theme/framework utils
@import "framework/utils/utils";

// Add rest of theme framework
@import "framework/buttons";
@import "framework/layout";
@import "framework/links";
@import "framework/typography";
@import "framework/custom-styles";

// Add anything from bower here

@import "base/settings";
@import "base/app";
@import "base/animation";
@import "base/config";

@import "regions/header";
@import "regions/footer";

@import "components/drupal";
@import "components/accessibility";
@import "components/forms";

@import "paragraphs/all-components";
@import "paragraphs/simple";
@import "paragraphs/compound";
@import "paragraphs/layout";

// @TODO: Choose one format and remove the other from the project
@import "content/page";
@import "content/teaser";
