////
/// General theme configuration.
/// @group Configuration
////

/// Configuration for Drupal Admin tabs.
$drupal-tabs: (
  wrap: (
    background: #fafafa,
    border: #efefef
  ),
  link: (
    color: #251923,
    background: #efefef,
    hover-color: #ffffff,
    hover-background: #251923
  ),
  alt-colors: #b6c4c5 #575642 #4c4650 #251923
);

/// z-index organization.
/// See links below for more information.
///
/// @link https://css-tricks.com/handling-z-index/
/// @link http://www.sitepoint.com/using-sass-maps/
$z-layers: (
  skip-link: 8000,
  ajax-throbber: 7000,
  debug: 1000,
  default: 0,
  bottomless-pit: -9999,

  // example nested z-index.
  example: (
    default: 100,
    image: -2
  )
);

/// Button config
$buttons: (
  _base: (
    background: slategray,
    color: #fff,
    border: slategray,
    active-background: darken(slategray, 10%),
    active-color: #fff,
    active-border: darken(slategray, 10%)
  ),
  blue: (
    extend: _base
  )
);
